<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daemon.fiancy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FIANCY">
        <activity android:name=".Filter"></activity>
        <activity android:name=".PremiumLog"></activity>
        <activity android:name=".deleteAdvertisementActivity"></activity>
        <activity android:name=".ManageAdvertisementActiviy"></activity>
        <activity android:name=".AdConfirmActivity"></activity>
        <activity android:name=".PostAdActivity"></activity>
        <activity android:name=".UpdateProfile"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
        <activity android:name=".ReportAd" />
        <activity android:name=".profile" />
        <activity android:name=".Home"></activity>
    </application>

</manifest>